{% extends "base.html" %}

{% block title %}About Me - Madalena Aguiar{% endblock %}

{% block content %}
    <section>
        <h2>About Me</h2>
        <p>Hi! I'm Madalena Aguiar, an Informatics and Computing Engineering student at the Faculty of Engineering, University of Porto. 
        I have a strong academic background, having participated in multiple math and computing competitions, and I am continuously expanding my knowledge 
        through coursework, such as Harvard's CS50 Introduction to Computer Science and Artificial Intelligence with Python.</p>
        
        <p>I am a quick learner with technical knowledge and experience in various fields, always eager to support team goals 
        and expand my horizons through new challenges and experiences.</p>
    </section>

    <section>
        <h2>Education</h2>
        <ul>
            <li><strong>Informatics and Computing Engineering</strong>, Faculdade de Engenharia da Universidade do Porto (2024 - Present)</li>
            <li><strong>Science and Technology</strong>(Secondary School), Escola Secundária Emídio Navarro (2018 - 2024)</li>
        </ul>
    </section>

    <section>
        <h2>Achievements</h2>
        <ul>
            <li>3rd place in TOPAS programming tournament</li>
            <li>Participated in Olympiad-level competitions: Physics, Maths, and Computing</li>
            <li>Finished CS50 Introduction to Computer Science</li>
        </ul>
    </section>
{% endblock %}
